<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SEDOB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ms-auto">
        
        <li class="nav-item"><a class="nav-link active" href="/logout">logout
            
          </a></li>
      </ul>
      
    </div>
  </div>
</nav>

<section>
  <%- include('../partials/messages.ejs') %>
</section>

<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="d-grid gap-2">
    <button class="btn btn-lg btn-primary" type="button">Send Request</button>
  </div>
</div>