.img-fluid {
  max-width: 100%;
  height: auto;
}

.sidebar-brand-icon {
  width: 40%;
  border-radius: 999px;
  background-color: rgb(0,0,0);
}

input {
  direction: rtl;
  text-align: right;
}

.nav-item {
  text-align: right;
}

body {
  text-align: right;
  font-family: 'Tajawal';
}

.form-control::placeholder {
  font-size: 12px;
}

.form-check {
  direction: rtl;
  text-align: right;
}

.form-check .form-check-input {
  float: right;
  margin: 0px;
}

label.form-check-label {
  padding-right: 5px;
}

.col-lg-8 {
  width: 100%;
}

.bg-gradient-primary {
  background-color: black;
  background-image: none;
}

.text-primary {
  color: black !important;
}

.btn-primary {
  padding: 10px;
  color: #fff;
  background-color: black;
  border-radius: 999px;
}

.btn-primary:hover {
  background-color: #636363;
}

.far.fa-user {
  color: black;
}

.dropdown .dropdown-list .dropdown-header {
  background-color: black;
}

.dropdown-header {
  text-align: right;
}

a.dropdown-item.d-flex.align-items-center {
  direction: rtl;
  text-align: right;
}

.sidebar .nav-item .nav-link {
  text-align: right;
}

.fas {
  padding-left: 5px;
}

.accepted-text {
  color: #009600 !important;
}

